# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/
build/
Generated/
*.xcuserstate
*.xcscmblueprint

# macOS
.DS_Store
.AppleDouble
.LSOverride

# XcodeGen
*.xcodeproj

# Swift
.build/
.swiftpm/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Misc
*.log
*.tmp
*.temp
